<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1 style="color: red">Upload Failed</h1>
    <h2 style="color: red"><%= message %></h2>
</body>
</html>