<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1 style="color:#2b542c">Success!</h1>
    <h2 style="color:#2b542c">Your file was successfully uploaded!</h2>
    <div>
        The Jet.com API usually takes some time to process uploaded files.
        <a href="<%= url%>">You can see the current status of your file here</a>
    </div>
</body>
</html>