@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.view-wrapper {
  position: fixed;
  top: 50px;
  bottom: 50px;
  right: 0;
  left: 0;
}

.products-view {
  height:  100%;
  overflow-y: scroll;
}