@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "./variableOverrides";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.view-wrapper {
  position: fixed;
  top: 50px;
  bottom: 50px;
  right: 0;
  left: 0;
  min-height: 400px;
}

.layout-wrapper {
  height: 100%
}

.view {
  height:  100%;
}

.view {
  $product-view-sidebar-width: 250px;
  $product-view-details-width: 850px;
  .view-sidebar {
    display: inline-block;
    float: left;
    width: $product-view-sidebar-width;
    height: 100%;
    .sidebar-select-list {
      display: block;
      width: $product-view-sidebar-width;
      text-overflow: ellipsis;
      height: 90%;
      overflow-y: scroll;
      .sidebar-select-list-item {
        &.selected {
          background-color: dodgerblue;
        }
      }
    }
    .sidebar-list-button {
      display: block;
      width: $product-view-sidebar-width;
      .sidebar-list-button-panel {
        background: $gray-lighter;
        width: 100%;
        height: 100%;
      }
    }
  }
  .view-details {
    position: absolute;
    left: $product-view-sidebar-width;
    width: $product-view-details-width;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    padding: 20px;
  }
  .view-right-column {
    position: absolute;
    left: $product-view-sidebar-width + $product-view-details-width;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    .view-right-column-section{
      display: block;
      width: 100%;
    }
  }
}

.loading-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 1031; //Because Bootstrap header/footer are z-index 1030
  .loading-message {
    top: 50%;
    left: 50%;
    height: 100px;
    width: 200px;
    margin: -50px 0 0 -100px;
    background-color: rgba(0,0,0,0.75);
    color: white;
    position: fixed;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.popovers-container {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  min-width: 600px;
  height: 0px;
  .popover {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 100px;
    max-width: 100%;
    min-height: 25px;
    padding: 5px;
    margin: 1px 0;
    background-color: white;
    color: black;
    border: 5px solid black;
    border-radius: 5px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    overflow-y: visible;
    .popover-title, .popover-stack {
      background-color: transparent;
      display: block;
      text-align: left;
    }
    .close-button {
      float: right;
      cursor: pointer;
    }
    &.popover-error {
      border-color: #FF6666;
    }
    &.popover-success {
      border-color: #36b713;
    }
  }
}

.directed-cancel-flag {
  color: red;
  float: right;
}

fieldset {
  $form-control-width: 40%;
  $help-block-width: 100% - $form-control-width - 5%;
  .form-group-depth-1 {
    .control-label, &.form-control {
      display: inline-block;
      vertical-align: top;
    }
    .form-control {
      width: $form-control-width;
    }
    .form-control, .nav.nav-pills {
      &:hover + .help-block {
        display: inline-block !important;
      }
    }
    .nav.nav-pills {
      & li {
        width: $form-control-width/3;
        & .form-control {
          width: 100%;
        }
      }
    }
  }

  .help-block {
    @extend .well;
    @extend .well-lg;
    width: $help-block-width;
    position: absolute;
    display: none;
    margin-left: 10px;
  }
  .control-label {

  }
}

.card-group {
  .card {
    float: left;
    margin: 0 10px;
    border: 1px solid $popover-border-color;
    padding: 4px;
    .card-block {

    }
  }
}